<!DOCTYPE html>
<html lang="en">
<head>
  <title>LMO+STC=COOL: Page Not Found</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet" type="text/css">
  <style>
    body {
      color: #000;
    }
    h1 {
      font-family: Montserrat, sans-serif;
      letter-spacing: 4px;
      font-size: 45px !important;
    }
    p {
      font: 400 20px/1.8 Lato, sans-serif;
    }
  </style>
</head>
<body id="home">
  <div class="container text-center">
    <h1>Er-orr (Beep-Boop)</h1>
    <p>We don't seem to have a page for lmo-stc.cool/{{ rsvp_url_path }}; are you sure you typed it correctly?</p>
    <p>Please contact Lenna or Stanton if you are attempting to view your RSVP.</p>
    <img class="img-responsive center-block" src="{{ url_for('static', filename='img/chessie_searching.png') }}" />
  </div>
</body>
</html>
