<!DOCTYPE html>
<html lang="en">
<head>
  <title>LMO+STC=COOL: RSVP Error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://use.typekit.net/tih7ugf.css?v1" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {
    color: #000;
  }
  h1 {
    font-family: tilda-petite, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
  }
  p {
    font-family: mrs-eaves-roman-petite-caps, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
  }

  </style>
</head>
<body id="home">
  <div class="container text-center">
    <h1>There Was An Error Accessing your RSVP</h1>
    <p>We don't seem to have an RSVP for lmo-stc.cool/{{ rsvp_url_path }}; are you sure you typed it correctly?</p>
    <p>Please contact Lenna or Stanton if you've verified the RSVP URL and are still having issues.</p>
    <img class="img-responsive center-block" src="{{ url_for('static', filename='img/chessie_searching.png') }}" />
  </div>
</body>
</html>
