
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ rsvp.names_of_people_in_party }} RSVP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://use.typekit.net/tih7ugf.css?v1" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {
    color: #000;
  }
  #accept_rsvp h1, #accept_rsvp h2, #accept_rsvp h3 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
  }
  #accept_rsvp h1 {
    font-size: 45px !important;
  }
  #accept_rsvp h2 {
    font-size: 30px !important;
  }
  #accept_rsvp h3 {
    font-size: 26px !important;
  }
  #invite h1 {
    font-family: tilda-petite, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
  }
  #accept_rsvp p, .form label {
    font: 400 16px/1.8 Lato, sans-serif;
  }
  #invite p {
    font-family: mrs-eaves-roman-petite-caps, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
  }
  #invite img {
    width: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #accept_rsvp img {
    width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #invite, #rsvp_buttons {
    margin: 20px auto;
    width: 550px;
  }
  #invite {
    border: 1px solid #000;
    padding: 10px 50px;
  }
  #rsvp_buttons {
    padding: 0;
  }
  #left_button, #right_button {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    font-family: tilda-petite, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    width: 50%;
    margin: 0;
  }
  #left_button {
    float: left;
    border-left: 1px solid #000;
    cursor: pointer;
  }
  #right_button {
    float: right;
    cursor: pointer;
  }
  #left_button a, #right_button a {
    color: #000;
  }
  #left_button a:hover, #right_button a:hover {
    color: #000;
  }

  .disabled_button {
    opacity: 0.25;
  }

  @media only screen and (max-width: 570px) {
    #invite img {
      width: 45%;
    }
    h1 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
    }
    #invite, #rsvp_buttons {
      max-width: 90%;
      margin: 20px;
    }
    #left_button, #right_button {
      font-size: 1.5em;
    }
  }
  </style>
</head>
<body>

  <div id="invite" class="container text-center">
    <img class="img-responsive center-block" src="{{ url_for('static', filename='img/lookout_drawing.png') }}" />
    <p>Together with their families</p>
    <h1 style="margin-top: 15px;">Lenna Moy Ostrodka</h1>
    <p>and</p>
    <h1 style="margin-bottom: 10px; margin-top: -3px">Stanton Terry Cady</h1>
    <p>
      Invite <b><span id="names_of_people_in_party">{{ rsvp.names_of_people_in_party }}</span></b> Downeast<br />
      to celebrate their wedding<br />
      Saturday, the twenty-eighth of September<br />
      two thousand nineteen<br />
      at half past four in the afternoon<br />
      The Lookout Inn<br />
      Brooklin, Maine<br />
    </p>
  </div>

  <div id="rsvp_buttons" class="container text-center">
    <div id="left_button"{% if rsvp.accept is not none and not rsvp.accept %} class="disabled_button"{% endif %}>Accept With Pleasure</div>
    <div id="right_button"{% if rsvp.accept is not none and rsvp.accept %} class="disabled_button"{% endif %}>Regretfully Decline</div>
  </div>

  <div id="accept_rsvp" class="container text-center"{% if not rsvp.accept %} style="display: none;"{% endif %}>

    <img class="img-responsive center-block" src="{{ url_for('static', filename='img/bunting.png') }}" />

    <h1>Party Info / Response</h1>
    <p>We couldn’t be more excited to celebrate with you in Maine! Please indicate any dietary restrictions for each person below and check the box for all of the activities you're interesting in attending (see details below)--you're welcome to partake in as many things as you'd like. Please provide your email address so we can update you about any last-minute changes. Finally, let us know if there are any songs you <i>have</i> to hear on Saturday night.</p>

    <div class="row">
      {% for person in rsvp.people %}
        <div class="col-xs-6">
          <h2>{{ person.name }}</h2>
          <div class="form">
            <input class="auto_save_dietary_restrictions" type="checkbox" value="" id="{{ person.name }}-dietary_vegetarian"{% if person.dietary_vegetarian %} checked {% endif %}>
            <label for="{{ person.name }}-dietary_vegetarian">
              Vegetarian
            </label>
          </div>
          <div class="form">
            <input class="auto_save_dietary_restrictions" type="checkbox" value="" id="{{ person.name }}-dietary_gluten_free"{% if person.dietary_gluten_free %} checked {% endif %}>
            <label for="{{ person.name }}-dietary_gluten_free">
              Gluten-Free
            </label>
          </div>
          <div class="form">
            <input class="dietary_other_check" type="checkbox" value="" id="{{ person.name }}-dietary_other_check"{% if person.dietary_other %} checked {% endif %}>
            <label for="{{ person.name }}-dietary_other_check">
              Other
            </label>
          </div>
          <div class="form">
            <input type="text" class="dietary_other_value" id="{{ person.name }}-dietary_other_value" {% if person.dietary_other %} value="{{ person.dietary_other }}"{% else %} style="display: none;" {% endif %}>
          </div>
        </div>
      {% endfor %}
      {% if rsvp.guest %}
        <div class="col-xs-6">
          <h2>Guest</h2>
          <div class="form">
            <label for="guest_name">Name</label>
            <input type="text" id="guest_name" {% if rsvp.guest.name %} value="{{ rsvp.guest.name }}"{% endif %}>
          </div>
          <div class="form">
            <input class="auto_save_dietary_restrictions" type="checkbox" value="" id="guest-dietary_vegetarian"{% if rsvp.guest.dietary_vegetarian %} checked {% endif %}>
            <label for="guest-dietary_vegetarian">
              Vegetarian
            </label>
          </div>
          <div class="form">
            <input class="auto_save_dietary_restrictions" type="checkbox" value="" id="guest-dietary_gluten_free"{% if rsvp.guest.dietary_gluten_free %} checked {% endif %}>
            <label for="guest-dietary_gluten_free">
              Gluten-Free
            </label>
          </div>
          <div class="form">
            <input class="dietary_other_check" type="checkbox" value="" id="guest-dietary_other_check"{% if rsvp.guest.dietary_other %} checked {% endif %}>
            <label for="guest-dietary_other_check">
              Other
            </label>
          </div>
          <div class="form">
            <input type="text" class="dietary_other_value" id="guest-dietary_other_value" {% if rsvp.guest.dietary_other %} value="{{rsvp.guest.dietary_other}}"{% else %} style="display: none;" {% endif %}>
          </div>
        </div>
      {% endif %}
    </div>

    <h2>Weekend Activities</h2>
    <div class="form">
      <input class="auto_save_activity_rsvp" type="checkbox" value="" id="friday_hike"{% if rsvp.friday_hike %} checked {% endif %}>
      <label for="friday_hike">
        Friday Morning Acadia visit
      </label>
    </div>
    {% if rsvp.which_schedule == 'family' %}
    <div class="form">
      <input class="auto_save_activity_rsvp" type="checkbox" value="" id="friday_dinner" {% if rsvp.friday_dinner %} checked {% endif %}>
      <label for="friday_dinner">
        Friday Dinner at Barncastle Restaurant
      </label>
    </div>
    {% endif %}
    <div class="form">
      <input class="auto_save_activity_rsvp" type="checkbox" value="" id="friday_bonfire" {% if rsvp.friday_bonfire %} checked {% endif %}>
      <label for="friday_bonfire">
        Friday Bonfire at The Lookout
      </label>
    </div>
    <div class="form">
      <input class="auto_save_activity_rsvp" type="checkbox" value="" id="saturday_activity" {% if rsvp.saturday_activity %} checked {% endif %}>
      <label for="saturday_activity">
        Saturday Morning Osgood Trail Walk
      </label>
    </div>
    <div class="form">
      <input class="auto_save_activity_rsvp" type="checkbox" value="" id="sunday_brunch" {% if rsvp.sunday_brunch %} checked {% endif %}>
      <label for="sunday_brunch">
        Sunday Morning Brunch at The Lookout
      </label>
    </div>
    <h2>Email and Music</h2>
    <div class="form">
      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="name@example.com"{% if rsvp.email_address %} value="{{rsvp.email_address}}"{% endif %}>
    </div>
    <div class="form">
      <label for="suggested_songs">Song Suggestions</label>
      <input type="text" id="suggested_songs" {% if rsvp.suggested_songs %} value="{{rsvp.suggested_songs}}"{% endif %}>
    </div>

    <p><i>Last saved: <span id="last_saved_time">{% if rsvp.last_saved %}{{ rsvp.formatted_last_saved }}{% else %} Never {% endif %}</span></i></p>

    <div class="container text-center">
      <h1>Lodging Information</h1>
      {% if rsvp.which_schedule == 'family' %}
      <p class="text-center">We have arranged for you to stay at The Lookout on Friday and Saturday nights. Please contact the folks at The Lookout at (207) 359-2188 to confirm your place. If you would like to stay additional nights before or after these dates, please arrange with The Lookout. Breakfast is included at The Lookout and will be served in the dining room. Let us know about any questions or concerns, and see you soon. Thanks!</p>
      {% else %}
      <p class="text-center">We recommend making a reservation at the nearby <a href="https://www.thebrooklininn.com/" target="_blank">Brooklin Inn</a> or <a href="https://www.themainehideaway.com/" target="_blank">Maine Hideaway Guest House</a>. There are also some great options on Airbnb and VRBO, particularly for larger groups. One thing to note: while The Lookout lists some of their rooms/cottages on Airbnb, these rooms are already booked for the weekend of September 27-28. Also, regardless of where you stay, please make sure to arrange for transportation to and from The Lookout for the festivities.</p>
      {% endif %}
    </div>
    <div id="schedule" class="container text-left">
      <h1 class="text-center">Schedule</h1>
      <div class="row text-center">
        <h2>Friday, September 27</h2>
      </div>
      <div class="row">
        <div class="col-xs-3 text-center">
          <h2>9:30 am</h2>
        </div>
        <div class="col-xs-9">
          <h3>Acadia Visit</h3>
          <p>We plan to meet at the Thunder Hole parking lot in Acadia National Park at 9:30 am and continue from there. Please review the detailed schedule available <a href="/acadia">here</a>.</p>
        </div>
      </div>
      {% if rsvp.which_schedule == 'family' %}
      <div class="row">
        <div class="col-xs-3 text-center">
          <h2>5:00 pm</h2>
        </div>
        <div class="col-xs-9">
          <h3>Dinner</h3>
          <p>Join us for pizza dinner and drinks at <a href="https://www.barn-castle.com" target="_blank">Barncastle Restaurant</a> in Blue Hill at 5:00 pm. More details to come soon.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-center">
          <h2>7:00 pm</h2>
        </div>
        <div class="col-xs-9">
          <h3>Bonfire</h3>
          <p>After dinner, roast some marshmallows with us at a bonfire on The Lookout grounds.</p>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-xs-3 text-center">
          <h2>7:00 pm</h2>
        </div>
        <div class="col-xs-9">
          <h3>Bonfire</h3>
          <p>Come to The Lookout starting at 7:00 pm to roast some marshmallows with us.</p>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <h2 class="text-center">Saturday, September 28</h2>
      </div>
      <div class="row">
        <div class="col-xs-3 text-center">
          <h2>11:00 am</h2>
        </div>
        <div class="col-xs-9">
          <h3>Morning Walk</h3> 
          <p>There are plenty of beautiful hikes in the Brooklin area. We’re planning to check out the <a href="https://actoutwithaislinn.bangordailynews.com/2012/10/16/one-minute-hikes/1-minute-hike-blue-hill-mountain-blue-hill-maine/" target="_blank">Osgood Trail</a> up Blue Hill Mountain at 11:00 am.
  </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-center">
          <h2>4:30 pm</h2>
        </div>
        <div class="col-xs-9">
          <h3>Ceremony and Celebration</h3>
          <p>We’re tying the knot at 4:30 pm! We’ll have a brief ceremony with our family and closest friends, followed by dinner, drinks, dancing, and lawn games. See you at The Lookout, and be sure to dress for the <a href="https://darksky.net/details/44.2764,-68.5475/2019-9-28/us12/en" target="_blank">weather</a>!
  </p>
        </div>
      </div>
      <div class="row">
        <h2 class="text-center">Sunday, September 29</h2>
      </div>
      <div class="row">
        <div class="col-xs-3 text-center">
          <h2>8:00 am</h2>
        </div>
        <div class="col-xs-9">
          <h3>Breakfast</h3>
          <p>We hope to catch you one last time before heading out of town over breakfast at The Lookout. Thank you for much being a part of our wedding! We could not be more grateful.</p>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <h1>What to Wear</h1>
      <p class="text-center">Get ready to dance, play lawn games, and explore the shoreline, all on the beautiful grounds of The Lookout Inn in Brooklin, Maine. Feel free to be fancy or more casual—we just want you to be comfortable and have fun.<p>

      <p class="text-center">The weather will likely be in the 60s during the ceremony and cool down to the 50s as the evening goes on. There will be heaters in the tent outside, but it’s a good idea to bring a jacket or coat to stay warm! We’ll have dessert and coffee inside the restaurant where you can cozy up and look out over the water. You may also want to bring a change of clothes to sit by the bonfire on Saturday.</p>
    </div>
    <div class ="container text-left">
      <h1 class="text-center">Stuff to Do</h1>
      <div class="row">
        <div class="col-sm-5">
          <h2 class="text-center">Fun</h2>
          <ul>
            <li><p>We’ll have kayaks rented at The Lookout during the weekend that you can use to paddle along the shoreline. Feel free to stop by and explore whenever you like.</p></li>
            <li><p>Other places to explore include Cooper Farm at <a href="http://bluehillheritagetrust.org/cooper-farm-at-caterpillar-hill/" target="_blank">Caterpillar Hill</a> and <a href="https://bluehillheritagetrust.org/peters-brook-trail-and-peters-cove/" target="_blank">Peter’s Brook</a>.</p></li>
          </ul>
        </div>
        <div class="col-sm-7">
          <h2 class="text-center">Food</h2>
          <ul>
            <li><p><a href="https://sandysbluehillcafe.com/" target="_blank">Sandy’s Blue Hill Cafe</a> - for all your breakfast and lunch needs</p></li>
            <li><p><a href="https://bluehill.coop/cafe" target="_blank">Blue Hill Co-op Cafe and Bakery</a> - breakfast sandwiches, pastries, and more</p></li>
            <li><p><a href="http://bucklyncoffee.com/" target="_blank">Bucklyn Coffee</a> - locally roasted beans</p></li>
            <li><p><a href="https://www.tradewindsmarkets.com/locations/blue-hill/" target="_blank">Tradewinds</a> - a fine purveyor of comestibles</p></li>
            <li><p><a href="http://brooklingeneralstore.com/" target="_blank">Brooklin General Store</a> - nice spot for to-go sandwiches and odds and ends</p></li>
            <li><p><a href="https://www.arborvine.com/deepwater-brew-pub" target="_blank">Deepwater Brewing Company</a> - brewery with pub fare</p></li>
          </ul>
        </div>
      </div>
  </div>
  </div>

  <script>
  $(document).ready(function() {

    $('html, body').animate({
      scrollTop: $('#schedule').offset().top
    }, 750);

    var emailTimeoutId;
    $('#email').on('input', function() {

      clearTimeout(emailTimeoutId);

      emailTimeoutId = setTimeout(function() {

        $.ajax({
          url: '/update_email_address/{{ rsvp._id }}',
          type: 'PUT',
          data: "email_address=" + $('#email').val(),
          success: function(data) {
            $('#last_saved_time').html(data.last_saved);
          }
        });
      }, 500);
    });

    var songsTimeoutId;
    $('#suggested_songs').on('input', function() {

      clearTimeout(songsTimeoutId);

      songsTimeoutId = setTimeout(function() {

        $.ajax({
          url: '/update_suggested_songs/{{ rsvp._id }}',
          type: 'PUT',
          data: "suggested_songs=" + $('#suggested_songs').val(),
          success: function(data) {
            $('#last_saved_time').html(data.last_saved);
          }
        });
      }, 500);
    });

    var guestNameTimeoutId;
    $('#guest_name').on('input', function() {

      clearTimeout(guestNameTimeoutId);

      guestNameTimeoutId = setTimeout(function() {

        $.ajax({
          url: '/update_guest_name/{{ rsvp._id }}',
          type: 'PUT',
          data: "guest_name=" + $('#guest_name').val(),
          success: function(data) {
            $('#names_of_people_in_party').html(data.names_of_people_in_party);
            $('#last_saved_time').html(data.last_saved);
          }
        });
      }, 500);
    });

    var dietaryOtherTimeoutId;
    $('.dietary_other_value').on('input', function() {

      clearTimeout(dietaryOtherTimeoutId);

      var name, dietary_other;
      [name, dietary_other] = this.id.split('-');

      var value = $(this).val()

      dietaryOtherTimeoutId = setTimeout(function() {

        $.ajax({
          url: '/update_dietary_other/{{ rsvp._id }}',
          type: 'PUT',
          data: "name=" + name + "&value=" + value,
          success: function(data) {
            $('#last_saved_time').html(data.last_saved);
          }
        });
      }, 500);
    });


    $('.dietary_other_check').change(function() {

      var value_field_id = '#' + this.id.replace('dietary_other_check', 'dietary_other_value');

      if(this.checked) {
        $(value_field_id).show();

      } else {

        $(value_field_id).hide();
        $(value_field_id).val('');

        var name, dietary_other;
        [name, dietary_other] = this.id.split('-');

        $.ajax({
          url: '/update_dietary_other/{{ rsvp._id }}',
          type: 'PUT',
          data: "name=" + name + "&value=",
          success: function(data) {
            $('#last_saved_time').html(data.last_saved);
          }
        });

      }
    });

    $('.auto_save_activity_rsvp').change(function() {
      var value = 0;
      if(this.checked) {
        value = 1;
      }
      $.ajax({
        url: '/update_bool_field/{{ rsvp._id }}',
        type: 'PUT',
        data: "key=" + this.id + "&value=" + value,
          success: function(data) {
            $('#last_saved_time').html(data.last_saved);
          }
      });
    });

    $('.auto_save_dietary_restrictions').change(function() {
      var value = 0;
      if(this.checked) {
        value = 1;
      }
      var name, dietary_name;
      [name, dietary_name] = this.id.split('-');
      $.ajax({
        url: '/update_dietary_restrictions/{{ rsvp._id }}',
        type: 'PUT',
        data: "name=" + name + "&dietary_name=" + dietary_name + "&value=" + value,
          success: function(data) {
            $('#last_saved_time').html(data.last_saved);
          }
      });
    });

    $('#left_button').click(function() {

      $.ajax({
        url: '/update_bool_field/{{ rsvp._id }}',
        type: 'PUT',
        data: "key=accept&value=1",
        success: function(data) {
          $('#last_saved_time').html(data.last_saved);
        }
      });

      $('#accept_rsvp').css('min-height', $('#invite').outerHeight() + 'px');
      $('#accept_rsvp').show();
      $('#right_button').css('opacity', 0.25);
      $('#left_button').css('opacity', 1);

      $('html, body').animate({
        scrollTop: $('#accept_rsvp').offset().top
      }, 750);

    });

    $('#right_button').click(function() {

      $('#left_button').css('opacity', 0.25);
      $('#right_button').css('opacity', 1);
      $('#accept_rsvp').hide();

      $.ajax({
        url: '/update_bool_field/{{ rsvp._id }}',
        type: 'PUT',
        data: "key=accept&value=0",
        success: function(data) {
          $('#last_saved_time').html(data.last_saved);
        }
      });

    });

    // window.onhashchange = function(event) {
    //
    //   event.preventDefault();
    //
    //   if (window.location.hash == "#accept_rsvp") {
    //
    //     $.ajax({
    //       url: '/update_bool_field/{{ rsvp._id }}',
    //       type: 'PUT',
    //       data: "key=accept&value=1",
    //       success: function(data) {
    //         $('#last_saved_time').html(data.last_saved);
    //       }
    //     });
    //
    //     $('#accept_rsvp').css('min-height', $('#invite').outerHeight() + 'px');
    //     $('#accept_rsvp').show();
    //     $('html, body').animate({
    //       scrollTop: $('#accept_rsvp').offset().top
    //     }, 750);
    //
    //   } else if (window.location.hash == "") {
    //
    //     $('html, body').animate({
    //       scrollTop: $('#invite').offset().top
    //     }, 750);
    //     $('#accept_rsvp').hide();
    //
    //   } else if (window.location.hash == "#decline_rsvp") {
    //
    //     $.ajax({
    //       url: '/update_bool_field/{{ rsvp._id }}',
    //       type: 'PUT',
    //       data: "key=accept&value=0",
    //       success: function(data) {
    //         $('#last_saved_time').html(data.last_saved);
    //       }
    //     });
    //
    //   } else {
    //     console.log(window.location.hash);
    //   }
    // }

    // Add smooth scrolling to all links in navbar + footer link

  })
  </script>

</body>
</html>
