<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LMO+STC=COOL :: Weekend Details</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Rozha+One" rel="stylesheet">

  <style>

    body {
      text-align: center;
      margin: 50px;
    }

    h1, h2, h3 {
      font-family: 'Rozha One', serif;
    }

    h1 {
      font-size: 8em;
    }

    h2 {
      margin-bottom: 100px;
      font-size: 4em;
    }

    p {
      'Montserrat', sans-serif;
    }

  </style>

</head>

    <body>
      <h1>Weekend Details & Stuff to Do</h1>

      <p>
        On Saturday we'll have a quick ceremony on the grounds at about 4:30 pm, to be followed with food and frivolity. Expect some beach combing, lawn games, a bonfire, and some dancing. It's just gonna be a big bbq on the beach and we're really looking forward to it! 
      </p>
      <p>
        Earlier in the day, you can join us for some hiking in Acadia National Park, about 1 hour and 15 minutes away from the Lookout. Or feel free to explore the park on your own! Our favorites include all the greatest hits: Beehive Trail, Jordan Pond, Cadillac Mountain, Bass Harbor Head, Little Hunter's Beach, Ocean Path, and Otter Point. We will also have kayaks available at the Lookout so you can paddle about the coastline. On Sunday, if your schedule allows, join us for brunch before saying goodbye.
      </p>
    </body>
</html>
