<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LMO+STC=COOL :: Getting There</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Rozha+One" rel="stylesheet">

  <style>

    body {
      margin: 50px;
    }

    h1, h2, h3 {
      font-family: 'Rozha One', serif;
    }

    h1 {
      font-size: 8em;
    }

    h1, p {
      text-align: center;
    }

    p {
      'Montserrat', sans-serif;
    }

  </style>

</head>

    <body>
      <h1>Getting to Brooklin</h1>

      <p>
        The Lookout is about 4.5 hours from Boston and 3 hours from Portland. We hope the New England fall colors will entertain you along the way. We know it’s not the easiest place to get to, but we hope to make it worth your while!
      </p>

      <p>
        If you have the time and are able to, we suggest flying into Boston or Portland a day or two early and taking your time as you drive up Route 1 along the coast. Some of our favorite things to see and do include:
      </p>

      <ul>
        <li>Boston, MA - <a target="_blank" href="https://flourbakery.com">Flour Bakery</a>, <a target="_blank" href="https://www.arboretum.harvard.edu">Arnold Arboretum</a>, <a target="_blank" href="https://hmnh.harvard.edu">Harvard Museum of Natural History</a></li>
        <li>Portsmouth, NH - <a target="_blank" href="https://nahcotta.com">Nahcotta (art and gift store)</a>, <a target="_blank" href="http://www.strawberybanke.org">Strawbery Banke Museum, <a target="_blank" href="https://www.portsmouthnh.com/listing/memorial-bridge/">Memorial Bridge</a></li>
        <li>York, ME - <a target="_blank" href="http://www.newenglandlighthouses.net/cape-neddick-nubble.html">Cape Neddick (Nubble) Lighthouse</a> and surrounding ice cream shops</li>
        <li>Portland, ME - <a target="_blank" href="https://standardbakingco.com">Standard Baking Company</a>, <a target="_blank" href="https://theholydonut.com">The Holy Donut</a>, <a target="_blank" href="https://www.bardcoffee.com">Bard Coffee</a>, <a target="_blank" href="https://www.mainenarrowgauge.org">Maine Narrow Gauge Railroad</a>, <a target="_blank" href="http://trails.org/our-trails/eastern-prom-trail/">Eastern Promenade</a>, <a target="_blank" href="https://www.meca.edu">Maine College of Art</a></li>
        <li>Rockland, ME - <a target="_blank" href="http://www.rocklandharborlights.org/index.html">Rockland Breakwater Light</a></li>
        <li>Camden, ME - <a target="_blank" href="https://www.longgraincamden.com">Long Grain</a>, <a target="_blank" href="https://www.maine.gov/dacf/parks/trail_activities/camden_trail_conditions.shtml">Camden Hills State Park</a></li>
      </ul>
    </body>
</html>
