<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LMO+STC=COOL :: Why Maine?</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Rozha+One" rel="stylesheet">

  <style>

    body {
      text-align: center;
      margin: 50px;
    }

    h1, h2, h3 {
      font-family: 'Rozha One', serif;
    }

    h1 {
      font-size: 8em;
    }

    h2 {
      margin-bottom: 100px;
      font-size: 4em;
    }

    p {
      'Montserrat', sans-serif;
    }

  </style>

</head>

    <body>
      <h1>Why Maine?</h1>

      <p>
        As a kiddo, Lenna visited Maine with her family and remembers being enchanted by the lighthouses, tidepools, tiny blueberries, and lobster rolls on the McDonald's menu. She was thrilled to go back to “Vacationland” in 2017 with Stanton for his first time there. Over a long holiday weekend, they took the scenic route up the coast, eventually landing in Brooklin, Maine. Here are some of the stops along the way:
      </p>

      <img height=400px; src="{{ url_for('static', filename='img/boston_to_brooklin.gif') }}" />

      <h2>Portsmouth, NH</h2>
      <p>
A bridge enthusiast, Stanton appreciated the Memorial Bridge, which carried us from New Hampshire to Maine. The houses in this charming 1600s city are actually adorable.
      </p>

      <h2>York, ME</h2>
      <p>One of the lighthouses Lenna and the Os visited. Not a bad place to fly your drone and grab some ice cream.</p>

      <h2>Portland, ME</h2>
      <p>Bon Appetit spends an inordinate amount of time raving about this place, but it's deserved. We loved the scrummy bakeries (including the potato donuts) and the coffee, snacked on before walks in the East End parks. A chill as heck town.
      </p>

      <h2>Rockland, ME</h2>
      <p>Another lighthouse, please! The afternoon we trekked out on the nearly mile-long (<a target="_blank" href="http://www.rocklandharborlights.org/faq.html">4,346 feet</a>) granite breakwater was completely enshrouded in fog, and we couldn't see the lighthouse until the very end. It was spooky and possibly haunted. We made it back to land but can't promise the same for everyone.
      </p>

      <h2>Camden, ME</h2>
      <p>Do you enjoy the smell of garlic wafting into the streets? The pan-Asian food at Long Grain alone makes this harbor town worth visiting. Bonus: the town shares its name with Lenna's nephew, and another restaurant in town has her niece Josephine's name.
      </p>

      <h2>Brooklin, ME</h2>
      <p>We made it to the boat-building capital of the world. We chose this area because all the other airbnbs closer to Acadia had been scooped up already, but we ended up falling in love with it. The tiny rock islands, lil schooners, and nicest people made it one of our favorite spots. We can't wait to celebrate there with you.
      </p>
    </body>
</html>
