<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Boston Public Garden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div class="grid-container">
      <a href="{{ url_for('static', filename='img/aligned_uncropped_large.gif') }}"><img class="img-responsive" src="{{ url_for('static', filename='img/aligned_uncropped_small.gif') }}" /></a>
      <p>View as Grid[ <a href="/daily_photo/grid/1">A</a> | <a href="/daily_photo/grid/0">B</a>]</p>
    </div>

  </body>
</html>
