<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Boston Public Garden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3299.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-1 no-gutters">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3336.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3343.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3347.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3352.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-1 no-gutters">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3369.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3373.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3375.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3378.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-1 no-gutters">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3390.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3392.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3395.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3398.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3399.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-1 no-gutters">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3421.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3422.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3424.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3425.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3427.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-1 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3429.jpg') }}" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3439.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3440.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3441.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3442.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3443.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-1 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3444.jpg') }}" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3445.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3446.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">

        </div>
        <div class="col-xs-1 no-gutters">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3546.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3547.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3549.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3551.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3553.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-1 no-gutters">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-1 no-gutters">

        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3556.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3558.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3561.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3562.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-2 no-gutters">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3563.jpg') }}" />
          </div>
        </div>
        <div class="col-xs-1 no-gutters">

        </div>
      </div>

    </div>

  </body>
</html>
