<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Boston Public Garden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div id="container">

      <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3299.jpg') }}" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3336.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3343.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3347.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3352.jpg') }}" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3369.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3373.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3375.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3378.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">

        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3390.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3392.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3395.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3398.jpg') }}" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{ url_for('static', filename='img/IMG_3399.jpg') }}" />
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
